<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  var subCategoryDisplayHandle = document.getElementById('subCategoryId'); // for the whole div
  var categoryHandle = document.getElementById('product_category_id');
  var subCategoryHandle = document.getElementById('product_sub_category_id'); // for the drop down
  var categoryId;

  categoryHandle.onchange = function(){
     categoryId = categoryHandle.options[categoryHandle.selectedIndex].value;
    if (categoryId == ""){
      subCategoryDisplayHandle.style.display = "none";
    } else{
      var request = new XMLHttpRequest();
      request.open('GET','/categories/get_sub_categories.json?category_id=' + categoryId , true);
      request.onreadystatechange = function(){
        var subCategories = JSON.parse(request.responseText);
       // var output = "";
       subCategoryHandle.innerHTML = "";

        subCategories.forEach(function(subCategory){
       // output += '<option value="' + subCategory.id + '">' + //subCategory.name + '</option>';
       var option = document.createElement('option')
       option.setAttribute('value',subCategory.id);
       var optionText = document.createTextNode(subCategory.name);
       option.appendChild(optionText);
       subCategoryHandle.appendChild(option);
      });
       //subCategoryHandle.innerHTML = output;
      }
      request.send();
      subCategoryDisplayHandle.style.display = "block";
    }
  };
  if((categoryId === undefined) || (categoryId === "")){
    subCategoryDisplayHandle.style.display = "none";
  };
</script>
