<!DOCTYPE html>
<html>
<head>
  <title>Orderify</title>
  <link href="image/favicon.png" rel="icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Online e-commerce store">
  <meta name="author" content="DCT Academy">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>

  <!-- JS Part Start-->
 <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script src="../js/jquery.nivo.slider.pack.js"></script>
<script src="../js/jquery.flexslider.js"></script>
<script src="../js/jquery.easing-1.3.min.js"></script>
<script src="../js/jquery.jcarousel.min.js"></script>
<script src="../js/colorbox/jquery.colorbox-min.js"></script>
<script src="../js/tabs.js"></script>
<script src="../js/cloud_zoom.js"></script>
<script src="../js/jquery.dcjqaccordion.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/html5.js"></script>
<!-- JS Part End-->

<!-- Google Fonts (Droid Sans) Start -->
<link href='//fonts.googleapis.com/css?family=Droid+Sans&v1' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=&v1' rel='stylesheet' type='text/css'>
<!-- Google Fonts (Droid Sans) End -->

  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper-box" >
  <div class="main-wrapper">
    <!--Header Part Start-->
    <header id="header">
      <div class="htop">
        
        <% if user_signed_in? %>        
          <div class="links"> 
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %> 
            <a href="#" id="wishlist-total">Wish List (0)</a> 
            <%= link_to "My Account", edit_user_registration_path %> 
            <a href="checkout.html">Checkout</a> 
          </div>
        <% else %>
          <div class="links"> 
            <%= link_to "Login", new_user_session_path %> 
            <%= link_to "Register", new_user_registration_path %> 
          </div>
        <% end %>


      </div>
      <section class="hsecond">
        <div id="logo"><a href="/"><img src="../image/logo.png" title="Orderify" alt="Orderify Logo" /></a></div>
        <div id="search">
          <div class="button-search"></div>
          <input type="text" name="search" placeholder="Search" value="" />
        </div>
        
        <% if user_signed_in? %>
          <%= render '/layouts/mini_cart' %>
        <% end %>

        <div class="clear"></div>
      </section>
      <%= render '/layouts/navigation' %>
    </header>
    <!--Header Part End-->


    <div id="container">
      <div id="content">
      <%= alert %>
      <%= notice %>
      <%= yield %>
    </div>
  </div>
    <%= render '/layouts/footer' %>
</div>

</body>
</html>